<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>

    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
    integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">

    <!-- Google fonts: Quicksand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- Google fonts: Bebas Neue (Netflix) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- main.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <!-- Los mensajes flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- El título -->
     <main>
        <h1 class="display-4 text-center mt-4 titulo">Iniciar sesión</h1>
    </main>

    <!-- El formulario de acceso -->
     <div class="row">
        <div class="col-md-4 offset-md-4 my-auto"> <!--Este div ocupará 4 columnas del espacio (centrado)-->
            <div class="card"> <!--Creacion del objeto card-->
                <div class="card-body">
                    <form action="/acceso-admin" method="post">
                        <div class="form-group caligrafia">
                            <input type="text" name="acceso_nombre_admin" placeholder="Nombre administrador/a" class="form-control"
                                   autofocus>
                            <input type="password" name="acceso_contrasena_admin" placeholder="Contraseña" class="form-control"
                                   autofocus>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block"> <!-- con btn-block el boton ocupa todo
                        el ancho -->
                            Iniciar sesión
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>