<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Nesflis</title>

    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
    integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">

    <!-- Google fonts: Quicksand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- Google fonts: Bebas Neue (Netflix) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- main.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <!-- Los mensajes flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-success" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Acceso administrador@s -->
    <br>
    <p>
        <a class="admin" href="/acceso-admin">Acceso administrador@s</a>
    </p>

    <!-- El título -->
    <main>
        <h1 class="display-4 text-center mt-4 titulo">!BIENVENID@ A NESFLIS¡</h1>
    </main>

    <!-- El contenedor con los botones de "Nuev@ usuari@" y "Iniciar sesión" -->
    <div class="contenedor1"> <!-- Creo el contenedor con los botones de "Nuev@ usuari@" y "Iniciar sesión" -->
        <a href="/registro-usuario" style="text-decoration:none"> <!-- Uso el botón para redireccionar a la página de
        registro de usuari@-->
            <button type="button" class="btn btn-danger" fdprocessedid="re9u3" style="margin-right: 100px">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                     class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1
                    0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6
                    10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1
                    0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                </svg>
            NUEV@ USUARI@
            </button>
        </a>
         <a href="/acceso-usuario" style="text-decoration:none">
            <button type="button" class="btn btn-danger" fdprocessedid="re9u3"> <!-- Uso el botón para redireccionar
            a la página de iniciar sesión-->
                <svg xmlns="http://www.w3.org/2000/svg" width="165" height="150" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                </svg>
            INICIAR SESIÓN
            </button>
         </a>
    </div>


</body>
</html>